temp/build/*
temp/source/*
tempja/build/*
tempja/source/*
symfony-docs-ja

!temp/source/_static
!temp/source/_exts
!temp/source/_templates
!temp/source/conf.py
!temp/source/configurationblock.py
!temp/source/configurationblock.pyc
!tempja/source/_static
!tempja/source/_exts
!tempja/source/_templates
!tempja/source/_themes
!tempja/source/conf.py
!tempja/source/configurationblock.py
!tempja/source/configurationblock.pyc

